body {
	font-family: 'Quattrocento Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.9);
}

.nav_item {
	padding-right: 5rem;
}

.brand_title {
	font-family: 'Viga', sans-serif;
	font-size: 28px;
	padding-right: 5rem;
}

.nav_link {
	font-size: 18px;
}

.bg_transparent {
	background-color: #00000000;
}

.main_page {
	background: linear-gradient(#cc61f2, #cc61f2, #cc61f2, #5a2c6b);
}

.center_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.title {
	font-family: 'Viga', sans-serif;
	font-size: 5rem;
	/* font-weight: 900; */
	color: whitesmoke;
	text-shadow: 0px 5px 20px rgba(75, 11, 20, 0.4);
}

.description {
	margin: 3.5rem 0rem;
	font-size: 1.7rem;
	text-align: center;
	/* font-weight: 900; */
	color: whitesmoke;
	text-shadow: 0px 5px 20px rgba(75, 11, 20, 0.4);
}

.main_button {
	padding: 1rem 4rem;
	border: none;
	box-shadow: 0px 5px 15px rgba(75, 11, 20, 0.5);
	border-radius: 30px;
	cursor: pointer;
	/* font-weight: bold; */
	font-size: 1.5rem;
	color: whitesmoke;
	background-color: #fb4f63;
}

.start_title {
	color: #cc61f2;
}

.content_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background-color: #fb5a51;
}

/* SVG ANIMATION */

#right-note,
#left-note {
	animation: up 2s infinite;
	animation-direction: alternate;
}

#left-note {
	animation-delay: 0.5s;
}

@keyframes up {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-30px);
	}
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
	.center_container {
		height: 50vh;
	}
}
