:root {
	--primary-light: #f5f5f5;
	--primary-dark: #000000;
	--accent-color-1: #f5f5f5;
	--accent-color-2: #01abaa;
	--accent-color-3: #fea680;
}

/* BASE CLASSES TO USE QUICKLY IN HTML */
.light_text {
	color: var(--primary-light);
}

.dark_text {
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
}

.accent_1 {
	color: var(--accent-color-1);
}

.accent_2 {
	color: var(--accent-color-2);
}

.primary_light_container {
	background-color: var(--primary-light);
}

.primary_dark_container {
	background-color: var(--primary-dark);
}

.accent_1_container {
	background-color: var(--accent-color-1);
}

.accent_2_container {
	background-color: var(--accent-color-2);
}

.accent_3_container {
	background-color: var(--accent-color-3);
}

.blue_container {
	background-color: var(--accent-color-2);
}

.dark_container {
	background-color: var(--primary-dark);
}
/* BASE CLASSES TO USE QUICKLY IN HTML */

/* BASE FONT FAMILY */
body {
	font-family: 'Quattrocento Sans', sans-serif;
}

/* CORNER SVG */
.corner_svg {
	position: absolute;
	top: 0;
	right: 0;
	/* width: 40rem; */
	width: clamp(40rem, 75vw, 100rem);
}

/* NAVBAR STYLING */
.navbar-expand-lg {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-collapse {
	flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link {
	/* color: rgba(255, 255, 255, 0.9); */
	color: var(--primary-dark);
}

.nav_item {
	padding-right: 5rem;
}

.brand_title {
	font-family: 'Viga', sans-serif;
	font-size: 28px;
	padding-right: 5rem;
	color: var(--primary-dark);
}

.brand_title:visited {
	color: var(--primary-dark);
}

.brand_title::hover {
	color: var(--accent-color-2);
}

.nav_link {
	font-size: 18px;
}

.nav_link:visited,
.brand_title:visited {
	color: var(--primary-dark) !important;
}

.nav_link:hover,
.brand_title:hover {
	color: var(--accent-color-2) !important;
}

.bg_transparent {
	background-color: #00000000;
}
/* NAVBAR STYLING END*/

/* TEXT STYLING CLASSES */
.underline {
	text-decoration: underline;
}

.line_height {
	line-height: 30px;
	max-width: 550px;
}

/* SET BACKGROUND COLOR */
.main_page {
	background-color: var(--accent-color-1);
}

/* LANDING PAGE */
.center_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	margin-bottom: 30px;
}

.title {
	font-family: 'Viga', sans-serif;
	font-size: clamp(4rem, 5vw, 5rem);
	color: var(--text-dark);
	margin-bottom: 0;
}

.description {
	margin: 40px 0rem;
	font-size: clamp(1.2rem, 3vw, 1.5rem);
	width: max(400px, 60%);
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 40px;
	/* text-align: center; */
	/* font-weight: 900; */
	color: var(--text-dark);
	/* text-shadow: 0px 5px 20px rgba(75, 11, 20, 0.4); */
}

.desc_container {
	width: max(400px, 60%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_button {
	padding: 1rem 4rem;
	border: none;
	/* box-shadow: 0px 5px 15px rgba(75, 11, 20, 0.5); */
	border-radius: 30px;
	cursor: pointer;
	/* font-weight: bold; */
	font-size: 1.5rem;
	color: var(--primary-dark);
	background-color: var(--accent-color-3);
}

.main_button:hover {
	color: var(--primary-light);
}
/* LANDING PAGE END */

/* ABOUT SECTION */
.about_svg_container {
	margin-bottom: 40px;
}

.about_title {
	font-family: 'Viga', sans-serif;
	font-size: 3rem;
}

.about_container {
	min-height: 65vh;
}

.about_svg_container {
	width: min(560px, 80%);
}
/* ABOUT SECTION END */

/* SEARCH SECTION */
.search_title {
	font-family: 'Viga', sans-serif;
	font-size: 2.5rem;
}

.search_page {
	background-color: var(--primary-light);
	padding-bottom: 40px;
}

/* CARD / CAROUSEL SECTION */
.song_carousel {
	margin-top: 40px;
}

.song_selected {
	font-size: 1.7rem;
	color: var(--accent-color-3);
}

.card {
	height: 400px;
	width: 300px;
	border-radius: 30px;
	background-color: #e6e6e6;
	box-shadow: -5px 5px rgba(0, 0, 0, 0.25);
	margin: 20px 30px;
}

.card_image {
	height: 148px;
	width: 186px;
	border-radius: 15px;
	margin: 20px 0px;
}

.card_title {
	font-family: 'Viga', sans-serif;
	font-size: 1.5rem;
}

.card_desc {
	margin: 10px 20px;
}

.card_tag {
	font-weight: 700;
	text-decoration: underline;
}
/* CARD / CAROUSEL SECTION END*/

/* FOOTER SECTION */
.footer_container {
	background-color: rgb(37, 37, 37);
}

.icon_size {
	font-size: 48px;
	padding: 15px;
}

.footer_title {
	font-family: 'Viga', sans-serif;
}

/* SEARCH BAR / FORM SECTION AND ANIMATION */
.form {
	width: 70%;
	position: relative;
	height: 130px;
	overflow: hidden;
}

.form input {
	width: 100%;
	height: 100%;
	color: var(--primary-dark);
	padding-top: 75px;
	border: none;
	outline: none;
	background: none;
	font-size: 1.3rem;
}

.form label {
	position: absolute;
	bottom: -1px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
	border-bottom: 1px solid var(--primary-dark);
	color: #5e5e5e;
	font-size: 1.4rem;
}

.form label::after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: -2px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid var(--accent-color-3);
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.content_name {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}

.form input:focus + .label_name .content_name,
.form input:valid + .label_name .content_name {
	transform: translateY(-150%);
	font-size: 1.2rem;
	color: var(--accent-color-3);
}

.form input:focus + .label_name::after,
.form input:valid + .label_name::after {
	transform: translateX(0%);
}
/* SEARCH BAR / FORM SECTION AND ANIMATION END*/

/* CAROUSEL ANIMATION */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
	transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
	transform: translateX(-25%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
	transform: translateX(0);
}

.carousel-control-next {
	justify-content: flex-end;
}
.carousel-control-prev {
	justify-content: flex-start;
}
/* CAROUSEL ANIMATION END */

/* SVG ANIMATION */
#right-note,
#left-note {
	animation: up 2s infinite;
	animation-direction: alternate;
}

#left-note {
	animation-delay: 0.5s;
}

@keyframes up {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-30px);
	}
}
/* SVG ANIMATION END*/

/* MEDIA QUERIES */
@media (max-width: 440px) {
	.desc_container,
	.description {
		width: max(300px, 60%);
	}
}

@media (max-width: 700px) {
	#black_circle {
		fill: none;
	}
}

@media (max-width: 360px) {
	.navbar-toggler {
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 990px) {
	.navbar-expand-lg {
		justify-content: space-between;
	}

	.navbar-collapse {
		flex-grow: 1;
	}
}

@media (max-width: 1000px) {
	.main_svg {
		display: none;
	}
	.svg_container {
		display: none;
	}
}

@media (max-width: 1650px) {
	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(33.33%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-33.33%);
	}

	.carousel-inner .carousel-item-right,
	.carousel-inner .carousel-item-left {
		transform: translateX(0);
	}
}

@media (max-width: 1320px) {
	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(50%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-50%);
	}

	.carousel-inner .carousel-item-right,
	.carousel-inner .carousel-item-left {
		transform: translateX(0);
	}
}

@media (max-width: 840px) {
	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	.carousel-inner .carousel-item-right.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(100%);
	}

	.carousel-inner .carousel-item-left.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-100%);
	}

	.carousel-inner .carousel-item-right,
	.carousel-inner .carousel-item-left {
		transform: translateX(0);
	}
}
