<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div class="container">
        <form action="">
            <div class="container">
                <input type="hidden" id='hidden_token'>
                <label for="Genre" class="form-label">Genre:</label>
                <select name="" id="select_genre">
                    <option value="">Select...</option>
                </select>
            </div>
            <div class="container">
                <label for="Genre">Playlists:</label>
                <select name="" id="select_playlist">
                    <option value="">Select...</option>
                </select>
            </div>
            <div class="container">
                <button type="submit" id="btn_submit">Search</button>
            </div>
        </form>
        <div class="container">
            <div class="song-list">
                <a href="#">Song 1</a>
            </div>
            <div class="song-list">
                <a href="#">Song 2</a>
            </div>
        </div>
        <div class="container" id="song-detail">
            <img src=""></img>
            <label for="Genre" class="form-label">Song Title:</label>
            <label for="Artist" class="form-label">By xxx:</label>
        </div>
    </div>

    <div class="container">
        <form action="">
            <input type="text" id="search_input">
        </form>
    </div>
    
    <script src="../static/app.js"></script>
</body>
</html>